---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="/water.min.css">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="color-scheme" content="dark light">
		<meta http-equiv="Refresh" content="0; url=https://airtable.com/shr62RA8zDhHTb4QB" />
		<title>Pengunaut Bug Reporter</title>
	</head>
	<body>
		<h1>Pengunaut Bug Reporter</h1>
		<p>
			Please open <a href="https://airtable.com/shr62RA8zDhHTb4QB">this link</a> to open the pengunaut bug reporter.
		</p>
	</body>
</html>
